RewriteEngine On

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect non-www to www
RewriteCond %{HTTP_HOST} ^omgroupco\.com [NC]
RewriteRule ^(.*)$ https://www.omgroupco.com/$1 [L,R=301]
